/ Price-Area
%section.section-padding.price-area#price_page
  .container
    .row
      .col-xs-12
        .page-title.text-center
          %h5.title
            Pricing Plan
          %h3.dark-color
            Available Plans
          .space-60

    .row
      .col-xs-12.col-sm-6
        .price-box
          .price-header
            .price-icon
              %span.lnr.lnr-rocket
            %h4.upper
              FREE

          .price-body
            %ul
              %li
                * Stream Programs to your iOS or Android Device
              %li
                * Listen to When Radio Was Each Day (ad supported)

          .price-footer
            %a.bttn-white.downloadbutton{ href: "#download_page" }
              Download Free App

        .space-30.hidden.visible-xs

      .col-xs-12.col-sm-6
        .price-box
          .price-header
            .price-icon
              %span.lnr.lnr-diamond

            %h4.upper
              PREMIUM

          .price-body
            %ul
              %li
                * Stream Programs to your iOS or Android Device
              %li
                * Listen to When Radio Was Each Day (no ads!)
              %li
                * Thousands of When Radio Was Archive Shows
              %li
                * Stream thousands of Individual Shows from Hundreds of Series
              %li
                * Download Shows for Offline Listening

          .price-rate
            %span.rate
              See app for pricing

          .price-footer
            %a.bttn-white.downloadbutton{ href: "#download_page" }
              Start Free Trial

        .space-30.hidden.visible-xs

    / Testimonial-Area
    %section.testimonial-area#testimonial_page
      .container
        .row
          .col-xs-12
            .page-title.text-center
              %h5.title
                Testimonials
              %h3.dark-color
                Our App Users Love Us
              .space-60

        .row
          .col-xs-12
            .team-slide
              .team-box
                .team-image
                  = image_tag 'team-9.jpg', alt: ''

                %h4
                  Larry F.
                %p
                  This is just about perfect. With the Radio Spirits subscription, I can finally afford Radio Spirits quality. There’s lots of free OTR, but so much of it is unlistenable. Nobody else has Radio Spirits quality. Bravo!

              .team-box
                .team-image
                  = image_tag 'team-2.jpg', alt: ''

                %h4
                  David M.
                %p
                  Works great on my iPhone 11. Thanks for keeping old-time radio alive!

              .team-box
                .team-image
                  = image_tag 'team-4.jpg', alt: ''

                %h4
                  Milly C.
                %p
                  My kids love listening to these shows on long road trips. Thanks Radio Spirits!

              .team-box
                .team-image
                  = image_tag 'team-3.jpg', alt: ''

                %h4
                  Milt H.
                %p
                  Love it! Is all I can say.

              .team-box
                .team-image
                  = image_tag 'team-5.jpg', alt: ''
                %h4
                  Bob A.
                %p
                  No problems and I’m enjoying your service.
    / Testimonial-Area-End
/ Price-Area-End
