.row
  .col-md-12.p-t-15
    .panel.panel-default
      .panel-heading
        = t('settings.edit_setting')
      .panel-body
        .col-md-4.col-lg-4.col-sm-12.col-xs-12
          = form_for :home_page_content, :url => admin_update_home_page_content_path, html:{class: 'home_page_content_form'} do |f|
            #error_div.field-error
            - @settings.each do |setting|
              .checkbox
                %label
                  %input{type: "checkbox", value: "true", name: "values[#{setting.id}]", checked: setting.value == "true", class: "home_page_sections"}>/
                  = setting.name.capitalize

            = f.submit "Save", class: 'btn btn-primary', title: "Save home page details"
            = link_to 'Back', :back, class: 'btn btn-default mar-l-10', title: "Go back to previous"
