.row
  .col-md-12.p-t-15
    .panel.panel-default
      .panel-heading
        = t('plans.plan_title')
        = link_to t('plans.add_plan'), new_admin_plan_path, class: "btn btn-success btn-sm pull-right", title: "Click to add new plan"
      .panel-body
        .col-md-12.m-b-10
          = render 'shared/search_form', search_action: admin_plans_path, placeholder_text: "Search plan title"
        .x-scrolling-wrapper.col-md-12
          - if @plans.blank?
            No record yet
          - else
            %table.table.table-bordered.table-hover.table-striped
              %thead
                %tr
                  %th.list_id_column.text-center{style: "width: 5%"} #
                  %th Title
                  %th.text-center
                    Validity
                  %th.text-center Amount
                  %th.text-center Status
                  %th.text-center Assigned buckets
                  %th.text-center Actions
              %tbody
                - @plans.each_with_index do |plan, index|
                  %tr
                    %td.text-center= (params[:page].present? ? (params[:page].to_i - 1) * 20 : 0) + index + 1
                    %td= plan.title
                    %td.text-center= plan.validity_text
                    %td.text-center= number_to_currency(plan.amount, precision: 2)
                    %td.text-center{class: plan.active? ? 'text-success' : 'text-danger'}= plan.active? ? 'Active' : 'Suspended'
                    %td.text-center= plan.subscription_buckets.count
                    %td.text-center
                      = link_to edit_admin_plan_path(plan), class: "btn btn-sm btn-info", data: (plan.subscription_buckets.size == 0  ? nil  : { confirm:  "This plan is already assigned to user, Are you sure to edit plan?"}), title: "Edit plan" do
                        %i.fa.fa-edit
                      = link_to admin_plan_path(plan), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger mar-l-10 #{plan.subscription_buckets.size == 0 ? '' : 'disabled'}", title: "Delete plan" do
                        %i.fa.fa-trash
                      = link_to admin_plan_activate_deactivate_path(plan), method: :post, data: { confirm: 'Are you sure?' }, class: "mar-l-10 btn btn-sm #{plan.active? ? 'btn-warning' : 'btn-info'}", title: "#{plan.active? ? 'Suspend' : 'Activate'} plan" do
                        %i{class:  plan.active? ? 'fa fa-lock' : 'fa fa-unlock-alt'}
      - if @plans.present?
        = will_paginate @plans, :class => "apple_pagination"
